extends layout

block content
  h1= title
  p
    form(method='post' action='/activity')
      input(type='Submit' value='Add activity')
      input(type='text' name='name' id='activity')
  p
    form(method='post' action='/themes')
      input(type='Submit' value='Add theme')
      input(type='text' name='name' id='theme')
