extends layout

block content
  h1= title
  p
    form(method='post' action='/activities')
      input(type='text' name='name' id='activity')
      input(type='Submit' value='Add activity')
  p
    form(method='post' action='/themes')
      input(type='text' name='name' id='theme')
      input(type='Submit' value='Add theme')
  p
    form(method='post' action='/cues')
      input(type='text' name='name' id='cue')
      input(type='Submit' value='Add cue')
